/* MAIN PAGE */


body {
    background-color: #99B0F3;
    font-family: 'Noto Sans', sans-serif;
    margin:0;
}
header {
    background-color: #07297C;
}
h1 {
   color: #E9B522;
}
h2 {
    font-weight: 800;
    font-size: 26px;
}
.nav-bar {
    display: flex;
    justify-content: end;
}
.logo {
    width: 170px;
    height: 170px;
}

.title-and-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.signup-button {
    margin-top:15px;
    margin-right: 15px;
    background-color: #99B0F3;
    font-weight: 800;
    padding: 8px 20px 8px 20px;
    border: solid 2px white;
}


.description-text {
    margin: 0px;
    font-size: 26px;
    color: #99B0F3;
    background-color: #07297C;
    padding:15px;
    padding-bottom: 70px;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #99B0F3;
    padding: 40px;
}
.input-in-login-form {
    height: 45px;
    width: 275px;
    text-align: center;
    font-weight: 800;
    border: 1px solid black;
    font-size: 20px;
}

.inputs-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#submit-login {
    border: 2px solid #000;
    background: #475460;
    color:white;
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}

/* SIGNUP PAGE */

.returntomain-button {
    margin-top:15px;
    margin-right: 15px;
    background-color: white;
    font-weight: 800;
    padding: 8px 20px 8px 20px;
    border: solid 2px black;
    font-size: 16px;
}

#submit-signup {
    border: 2px solid #000;
    background: #475460;
    color:white;
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
}

.main-signup {
    margin-top:120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
    width: 240px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

.input-signup-form {
    height: 35px;
    margin-bottom: 10px;
}

.signup-title {
    font-size: 20px;
    margin-bottom: 40px;
}


/* CRYPTO PAGE */

.body-cryptopage {
    background-color: #07297C;
}

.main-title-in-cryptopage {
    margin:0px;
    font-size: 16px;
    width: 50%;
    margin-left: 16px;
}

.header-in-cryptopage {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.nav-bar-cryptopage{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:22px;
    width: 50%;
    margin-right: 16px;
}
.nav-button {
    background-color: white;
    color:black;
    border-radius: 15px;
    padding-inline:17px;
    padding-block:4px;
    text-decoration: none;
}
.user-container {
    display: flex;
    flex-direction: row;
    padding-top : 100px;
    padding-inline: 15px;
    background-color: #07297C;
}
.avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap:15px;
    padding-left: 30px;
}
.user-info {
    background-color: white;
    width: 140px;
    height: 20px;
    font-weight: 700;
    font-size: 13px;
    padding-left: 5px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: center;
}

.button-in-user-container {
    background-color: #84A4BC;
    font-weight: 700;
    padding-inline: 5px;
    padding-block: 3px;
    border: none;
}

.delete-container {
    display: flex;
    justify-content: end;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.header-table {
    display: flex;
    justify-content: space-between;
    padding: 11px 22px 11px 22px;
    border: 1px solid #7C7C84;
    background: #1554F0;
}
.title-column {
    color: white;
    font-size: 22px;
    font-weight: 800;
}

.cryptos{
    background-color: #99B0F3;
    padding-top: 50px;
    padding-left: 10px;
}

.crypto-container {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding-bottom: 16px;
}

.crypto-icone {
    width: 37px;
    height: 37px;
    margin-right: 14px;
    border-radius: 50%;
}
.crypto-container-name-and-symbol {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 120px;
    cursor: pointer;
}
.crypto-container-name-and-symbol:hover {
    color : #E9B522;
}
.crypto-container-value-and-percent {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 120px;

}

.crypto-symbol {
    font-weight: 800;
}

.crypto-name {
    font-size: 12px;
}

.green {
    color:green;
}
.red {
    color:red;
}
.crypto-price {
    font-weight: 600;
}

.val-title {
    padding-left: 20px;
}
.heart-container {
    display: grid;
    grid-template: auto;
    align-items: center;
}
i {
    font-size: 24px;
}

.fa-solid {
    color:#E9B522;
}

.fa-regular:hover {
    cursor: pointer;
}

.footer-in-cryptopage {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #475460;
    display: flex;
    flex-direction: row;
    color:white;
    justify-content: space-around;
    align-items: center;
    padding-block: 20px;
    border: 2px solid #000;
}
.contact {
    text-decoration: none;
    color:white;
}
.logo-in-footer {
    width: 50px;
    height: 50px;
}

.modal-container {
    position: fixed;
    top: 15%;
    width: 100%;
    height: 100%;
    background-color: #84A4BC;
}

.icone-crypto-in-modal {
    width: 60px;
    height: 60px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}
.close-button-container {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-top: 15px;
    margin-right: 25px;
}
.fa-xmark {
    font-size: 20px;
    color: white;
    padding:5px;
    font-weight: 400;
    cursor: pointer;
}

.modal-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-left: 25px;
    gap:30px;
}
.crypto-name-in-modal {
    font-weight: 800;
    font-size: 24px;
}

.crypto-values-in-modal-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 25px;
    gap:30px;
}


.chart {
    background-color: white;
    margin: 10px;
    opacity:0.8;
}
.other-info-container {
    padding: 24px;
}

.infos-container {
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: white;
    padding:15px;
    border: 1px solid black;
}